
.my-weather-box{
    height: 100%;
}

.my-maps-box{
    height: 700px;   
}

.my-history-span{
    margin: 0px 5px;
}

.my-history-btn{
    margin: 5px 0px; 
}
#form-date{
    display: none;
}

#label date{
    display: none;
}
#loc-to1{
    display: none;

}


